/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
	font-family: 'Avant-Garde Bold';
	src:font-url('AvantGarGotItcTEEDem.ttf');
}

.agb{
	font-family: 'Avant-Garde Bold'
}

@font-face {
	font-family: 'Avant-Garde';
	src:font-url('AvantGardeGothicC-Book.otf');
}

.ag{
	font-family: 'Avant-Garde';
}

@font-face {
	font-family: 'Avenir';
	src:font-url('Avenir-Book.otf');
}

.av{
	font-family: 'Avenir';
}

@font-face {
	font-family: 'Avenir-heavy';
	src:font-url('Avenir-Heavy.otf');
}

.avh{
	font-family: 'Avenir-Heavy';
}

@font-face {
	font-family: 'Garamond bold';
	src:font-url('Garamond-Bold.ttf');
}

.garb{
	font-family: 'Garamond bold';
}

@font-face {
	font-family: 'Garamond italic';
	src:font-url('Garamond-Italic.ttf');
}

.gari{
	font-family: 'Garamond italic';
}

@font-face {
	font-family: 'Garamond';
	src:font-url('Garamond.ttf');
}

.gar{
	font-family: 'Garamond';
}

@font-face {
	font-family: 'Gotham';
	src:font-url('Gotham-Black.otf');
}

.got{
	font-family: 'Gotham';
}

@font-face {
	font-family: 'Helvetica bold';
	src:font-url('Helvetica-Bold.ttf');
}

.helb{
	font-family: 'Helvetica bold';
}

@font-face {
	font-family: 'Helvetica-Light';
	src:font-url('Helvetica-Light.ttf');
}

.hell{
	font-family: 'Helvetica-Light';
}

@font-face {
	font-family: 'Helvetica';
	src:font-url('Helvetica.ttf');
}

.hel{
	font-family: 'Helvetica';
}

@font-face {
	font-family: 'Helvetica Neue light';
	src:font-url('HelveticaNeue-UltraLight.otf');
}

.henl{
	font-family: 'Helvetica Neue light';
}

@font-face {
	font-family: 'Helvetica Neue bold';
	src:font-url('HelveticaNeue-Bold.otf');
}

.henb{
	font-family: 'Helvetica Neue bold';
}

@font-face {
	font-family: 'Helvetica Neue';
	src:font-url('HelveticaNeue.otf');
}

.hen{
	font-family: 'Helvetica Neue';
}

@font-face {
	font-family: 'Proxima-Nova bold';
	src:font-url('proxima-nova-bold.ttf');
}

.prob{
	font-family: 'Proxima-Nova bold';
}

@font-face {
	font-family: 'Proxima-Nova';
	src:font-url('proxima-nova-regular.ttf');
}

.prox{
	font-family: 'Proxima-Nova';
}

@font-face {
	font-family: 'Proxima-Nova thin';
	src:font-url('proxima-nova-thin.ttf');
}

.prot{
	font-family: 'Proxima-Nova thin';
}

body{
	font-family: 'Helvetica Neue';
	margin: 0px;
}


.links a{
	
	margin-top: 25px;
	display: block;
	text-decoration: none;
	color: white;
	font-size: 64px;
	line-height: 1.1em;
}

.links-black a{
	margin-top: 25px;
	display: block;
	text-decoration: none;
	color: black;
	font-size: 64px;
	line-height: 1.1em
}

h1{
	font-size: 48px;
	line-height: 1.1em;
}

h2{
	font-size: 28px;
	line-height: 1.15em;
}

h3{
	font-size:17px;
	line-height: 1.25em;
}

.white{
	padding: 40px;
	padding-top: 20px;
}

.blue{
	background: #00366d;
	padding: 40px;
	padding-top:20px;
	margin: 0;
	color: white;
}


.yellow{
	background: #fdde38;
	
	padding: 40px;
	padding-top:30px;
	margin: 0;
}


.icon-black{
	font-size: 48px;
	color:black;
}

.icon-white{
	font-size: 48px;
	color: white;
}

.btn-black{
	text-decoration: none;
	color: black;
	border:2px solid black;
	border-radius: 9px;
	padding: 10px;
	margin-top: 10px;	
	display: inline-block;
	margin-left:5px;
}

.btn-white{
	text-decoration: none;
	color: white;
	border:2px solid white;
	border-radius: 9px;
	padding: 10px;
	margin-top: 10px;	
	display: inline-block;
	margin-left:5px;
}