<div class="blue">
	<h1 class="ag">ITC Avant-Garde Gothic</h1>
	<a href="/" class="icon-white"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i></a>
</div>
<div class="white">
	<h1 class="ag">Defining Dechra</h1>
	<p>Dechra is an international specialist veterinary pharmaceuticals and related products business. Our expertise is in the development, manufacture, sales and marketing of high quality products exclusively for veterinarians worldwide. </p>
</div>
<div class="yellow">
	<h2>Making a difference</h2>
	<p class="ag">Our brand positioning is our unifying message. A clear vision of who we are and where we are going. It is more than just a few words, it is a statement which marks the start of our next chapter. It will help us express the way we do business today and its simplicity and strength will to see us through into the future.</p>
</div>
