<div class="blue">
<div class="links">
	<a href="/itc-avant-garde-gothic" class="ag">ITC Avant Garde Gothic</a>
	<a href="/avenir" class="avh">Avenir</a>
	<a href="/garamond" class="gar">Garamond</a>
	<a href="/gotham" class="got">Gotham</a>
	<a href="/helvetica" class="helb">Helvetica</a>
	<a href="/proxima-nova" class="prox">Proxima-Nova</a>
</div>
</div>
